<!-- webapp/WEB-INF/web.xml -->
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

  <display-name>To do List</display-name>

  <welcome-file-list>
    <welcome-file>home.htm</welcome-file>
  </welcome-file-list>

<!--  <servlet>
      <servlet-name>HomeServlet</servlet-name>
      <servlet-class>org.parts.controller.HomeServlet</servlet-class>
  </servlet>

  <servlet-mapping>
      <servlet-name>HomeServlet</servlet-name>
      <url-pattern>/home.htm</url-pattern>
  </servlet-mapping>-->

</web-app>
